@import 'variables.scss';

section {
    width: 60rem;
    max-width: 90%;
    margin: 0 auto;
    background-color: var(--primary-color);

    ul {
        list-style: none;
        padding: 0;

        li {
            display: flex;
            margin: 1rem 0;
            padding: 0.6rem;

            border-radius: 3px;
            border: 1px solid #2D2E32;
            background-color: #2D2E32;


            transition: border 1s ease;
           
            &:hover {
                border: 1px solid #1093BF;
            }

            img {
                max-width: 8rem;
                margin-right: 1rem;
                border-radius: 3px;
            }
            .movie-description{
                .movie-details {
                    display: flex;
                    h4 {
                        padding: 0.3rem;
                        margin: 0.6rem 0.4rem 0 0;
                        
                        font-size: 0.8rem;
                        border-radius: 3px;
                        background-color: #1093BF;
                    }
                }
            }
        }
    }
}